{% extends "base.html" %}

{% block title %}Logged out{% endblock %}

{% block content %}
    <p>
        You have been logged out.  You may <a href="{% url 'login' %}">
        log back in</a>.
    </p>
{% endblock %}