html, body {
    height: 100%;
}

h2 {
    font-size: 3em;
    padding-bottom: 30px;
}

body {
    background: url(/static/kindajean.png);
    font-size: 16px;
    position: relative;
}

.jumbotron {
    position: relative;
    background: none;
    color: white;
    text-align: center;
    font-weight: bold;
}

.jumbotron:after {
    content: '';
    background: url('../stl2.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

#interests {
    color: white;

    background: url('../img/code.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 1;
}

#projects {
    background: #0f0a33;
    color: white;
}

#contact {
    color: white;
    background: url('../img/code2.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 1;
}

.control-label {
    font: bolder;
}

.pad {
    padding-bottom: 100px;
}

#wrap {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 100px;
    margin-bottom: 0;
}

.footer {
    text-align: center;
    padding: 30px 0;
    border-top: 1px solid #e5e5e5;
    background: url(/static/kindajean.png);
    font-size: 0.8em;
    position: relative;
    margin-top: -100px; /* negative value of footer height */
    height: 100px;
    clear: both;
}

.footer p {
    margin-bottom: 0;
    color: #777;
}

.footer-links {
    margin: 10px 0;
}

.footer-links li {
    display: inline;
    padding: 0 2px;
}

.footer-links li:first-child {
    padding-left: 0;
}

#contact .fa {
    font-size: 2em;
}

.janky {
    font-size: 30px;
}